# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment
.env

# Airflow
airflow/logs/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/